# Pandas support three level of sorting

1. Sorting by index labels
 2. Sorting by column values
 3. Sorting by combination of both

In [15]:
import pandas as pd
from pandas import read_csv
filename = 'movies_tvshows_data.csv' 
data = read_csv(filename)
first_five = data.head(5)

In [31]:
first_five.sort_index(ascending=True)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9
1,ts20413,M*A*S*H,SHOW,The 4077th Mobile Army Surgical Hospital is st...,1972,TV-PG,26,"['war', 'comedy', 'drama']",['US'],11.0,tt0068098,8.4,55882.0,27.308,8.0
2,ts20005,I Love Lucy,SHOW,Cuban Bandleader Ricky Ricardo would be happy ...,1951,TV-G,30,"['comedy', 'family']",['US'],9.0,tt0043208,8.5,25944.0,17.088,8.1
3,ts20669,Taxi,SHOW,"Louie De Palma is a cantankerous, acerbic taxi...",1978,TV-PG,25,"['drama', 'comedy']",['US'],5.0,tt0077089,7.7,13379.0,14.346,7.3
4,ts21049,The Mary Tyler Moore Show,SHOW,30-year-old single Mary Richards moves to Minn...,1970,TV-PG,28,['comedy'],['US'],7.0,tt0065314,8.2,8692.0,9.290,7.5

## Indexing, Selection, and Filtering

In [36]:
first_five['title']

0          Saturday Night Live
1                      M*A*S*H
2                  I Love Lucy
3                         Taxi
4    The Mary Tyler Moore Show
Name: title, dtype: object

In [37]:
first_five['imdb_score']

0    8.0
1    8.4
2    8.5
3    7.7
4    8.2
Name: imdb_score, dtype: float64

In [39]:
first_five.loc[2]

id                                                                ts20005
title                                                         I Love Lucy
type                                                                 SHOW
description             Cuban Bandleader Ricky Ricardo would be happy ...
release_year                                                         1951
age_certification                                                    TV-G
runtime                                                                30
genres                                               ['comedy', 'family']
production_countries                                               ['US']
seasons                                                               9.0
imdb_id                                                         tt0043208
imdb_score                                                            8.5
imdb_votes                                                        25944.0
tmdb_popularity                                                    17.088
tmdb_score                                                            8.1
Name: 2, dtype: object

In [40]:
first_five.iloc[[0,2]]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9
2,ts20005,I Love Lucy,SHOW,Cuban Bandleader Ricky Ricardo would be happy ...,1951,TV-G,30,"['comedy', 'family']",['US'],9.0,tt0043208,8.5,25944.0,17.088,8.1

In [46]:
first_five.iloc[[0,2], first_five.columns.get_loc('title')]

0    Saturday Night Live
2            I Love Lucy
Name: title, dtype: object

In [58]:
first_five.iloc[[0,2], first_five.columns.get_indexer(['title','type','release_year','age_certification','runtime','genres','production_countries','seasons','imdb_score'])]

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score
0,Saturday Night Live,SHOW,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,8.0
2,I Love Lucy,SHOW,1951,TV-G,30,"['comedy', 'family']",['US'],9.0,8.5

## 1. Sorting by index labels

In [ ]:
first_five.sort_index(ascending=False)
# This will sort in descending order by indexing

In [17]:
first_five.sort_index(ascending=True)
# this will sort in ascending ordery by indexing

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9
1,ts20413,M*A*S*H,SHOW,The 4077th Mobile Army Surgical Hospital is st...,1972,TV-PG,26,"['war', 'comedy', 'drama']",['US'],11.0,tt0068098,8.4,55882.0,27.308,8.0
2,ts20005,I Love Lucy,SHOW,Cuban Bandleader Ricky Ricardo would be happy ...,1951,TV-G,30,"['comedy', 'family']",['US'],9.0,tt0043208,8.5,25944.0,17.088,8.1
3,ts20669,Taxi,SHOW,"Louie De Palma is a cantankerous, acerbic taxi...",1978,TV-PG,25,"['drama', 'comedy']",['US'],5.0,tt0077089,7.7,13379.0,14.346,7.3
4,ts21049,The Mary Tyler Moore Show,SHOW,30-year-old single Mary Richards moves to Minn...,1970,TV-PG,28,['comedy'],['US'],7.0,tt0065314,8.2,8692.0,9.290,7.5

In [18]:
first_five.sort_index(axis=1)
# This will sort by column

,age_certification,description,genres,id,imdb_id,imdb_score,imdb_votes,production_countries,release_year,runtime,seasons,title,tmdb_popularity,tmdb_score,type
0,TV-14,A late-night live television sketch comedy and...,"['music', 'comedy']",ts20475,tt0072562,8.0,47910.0,['US'],1975,89,47.0,Saturday Night Live,54.345,6.9,SHOW
1,TV-PG,The 4077th Mobile Army Surgical Hospital is st...,"['war', 'comedy', 'drama']",ts20413,tt0068098,8.4,55882.0,['US'],1972,26,11.0,M*A*S*H,27.308,8.0,SHOW
2,TV-G,Cuban Bandleader Ricky Ricardo would be happy ...,"['comedy', 'family']",ts20005,tt0043208,8.5,25944.0,['US'],1951,30,9.0,I Love Lucy,17.088,8.1,SHOW
3,TV-PG,"Louie De Palma is a cantankerous, acerbic taxi...","['drama', 'comedy']",ts20669,tt0077089,7.7,13379.0,['US'],1978,25,5.0,Taxi,14.346,7.3,SHOW
4,TV-PG,30-year-old single Mary Richards moves to Minn...,['comedy'],ts21049,tt0065314,8.2,8692.0,['US'],1970,28,7.0,The Mary Tyler Moore Show,9.290,7.5,SHOW

In [19]:
first_five.sort_index(axis=0)
# This will sort by rows

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9
1,ts20413,M*A*S*H,SHOW,The 4077th Mobile Army Surgical Hospital is st...,1972,TV-PG,26,"['war', 'comedy', 'drama']",['US'],11.0,tt0068098,8.4,55882.0,27.308,8.0
2,ts20005,I Love Lucy,SHOW,Cuban Bandleader Ricky Ricardo would be happy ...,1951,TV-G,30,"['comedy', 'family']",['US'],9.0,tt0043208,8.5,25944.0,17.088,8.1
3,ts20669,Taxi,SHOW,"Louie De Palma is a cantankerous, acerbic taxi...",1978,TV-PG,25,"['drama', 'comedy']",['US'],5.0,tt0077089,7.7,13379.0,14.346,7.3
4,ts21049,The Mary Tyler Moore Show,SHOW,30-year-old single Mary Richards moves to Minn...,1970,TV-PG,28,['comedy'],['US'],7.0,tt0065314,8.2,8692.0,9.290,7.5

## 2. Sorting by column values

In [50]:
data['imdb_score'].sort_values(ascending=False)

751     9.5
2281    9.5
41      9.3
2247    9.3
768     9.2
       ...
2390    NaN
2391    NaN
2392    NaN
2394    NaN
2396    NaN
Name: imdb_score, Length: 2398, dtype: float64

In [51]:
first_five['imdb_score'].sort_values(ascending=True)

3    7.7
0    8.0
4    8.2
1    8.4
2    8.5
Name: imdb_score, dtype: float64

## 3. Sorting by combination of both

In [53]:
imdb_scores_sort = first_five.set_index('imdb_score').head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_votes,tmdb_popularity,tmdb_score
imdb_score,,,,,,,,,,,,,,
8.0,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,47910.0,54.345,6.9
8.4,ts20413,M*A*S*H,SHOW,The 4077th Mobile Army Surgical Hospital is st...,1972,TV-PG,26,"['war', 'comedy', 'drama']",['US'],11.0,tt0068098,55882.0,27.308,8.0
8.5,ts20005,I Love Lucy,SHOW,Cuban Bandleader Ricky Ricardo would be happy ...,1951,TV-G,30,"['comedy', 'family']",['US'],9.0,tt0043208,25944.0,17.088,8.1
7.7,ts20669,Taxi,SHOW,"Louie De Palma is a cantankerous, acerbic taxi...",1978,TV-PG,25,"['drama', 'comedy']",['US'],5.0,tt0077089,13379.0,14.346,7.3
8.2,ts21049,The Mary Tyler Moore Show,SHOW,30-year-old single Mary Richards moves to Minn...,1970,TV-PG,28,['comedy'],['US'],7.0,tt0065314,8692.0,9.290,7.5

In [55]:
imdb_scores_sort.sort_values(by=['imdb score','title'])
# this will sort by index(goals) and by column(position)

NameError: name 'imdb_scores_sort' is not defined